{
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 110,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "tabWidth": 2,
  "proseWrap": "never",
  "requirePragma": false,
  "overrides": [
    {
      "files": "tsconfig.base.json",
      "options": {
        "printWidth": 130
      }
    }
  ]
}
